


.house img{
    width: 25%;
}

h1, h2, h3{
    color: white;
}

.fullview_area {
    width: 100vw;
    height: 100vh;
}

.game_area {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color:black; */
    background-image: url("images/bg.jpg")
}
.top_row{
    display: flex;
    justify-content: center;
    height: 15vh;
    background-image: linear-gradient(rgb(37, 37, 37), transparent);    
}
.mid_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    /* background-color: rgb(152, 236, 251); */
}
.bottom_row{
    display: flex;
    justify-content: center;
    height: 10vh;
    background-image: linear-gradient(transparent, rgb(37, 37, 37));
    
}
#got_logo{
    position: relative;
    width: 50%;
    height: 100%;
}
#got_logo img {
    width: 100%;
    height: 100%;
}
#gameBoard{
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 45%;
    height: 85%;
    background-color: black;

}
.player{
    height: 15%;
    text-align: center;
}

.p1_area, .p2_area {
    display: flex;
    flex-direction: column;
    height: 85%;

}

.p1_flag_box, .p2_flag_box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    position: relative;
    /*background-color: black;*/
}

.p1_flag_box :first-child, .p2_flag_box :first-child{
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);

}

.p1_stat_box, .p2_stat_box {
    background-color: rgba(0,0,0, 0);
    width: 100%;
    height: 15%;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 3.0vw;
    color: #effbed;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    height: 12.5%;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    /* font-size: 8vmin; */

}
.cell:nth-child(8n+1){
    clear: left;
}
.cell img {
    width: 100%;
    height: 100%;
}

/*.available{*/
    /*border: 2px solid lightgrey;*/
/*}*/
#modal_content {
    display: flex;
    justify-content: center;
}

.modal {
    background-color: black;
}

.modal_content :nth-child(5) {
    margin-top: 35%;
}

/* Modal Content */
.modal_content {
    position: relative;
    text-align: center;
    background-color:rgba(0, 0, 0, 0);
    margin: auto;
    font-family: 'MedievalSharp', cursive;
    width: 60%;
    height: 50%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
} 

@keyframes borderBlink{
    50%{border-color: lightGrey}
}

.selection{
    border: 3px solid;
    animation: borderBlink .5s step-end infinite alternate;

}

.start{
    font-family: 'MedievalSharp', cursive;
    font-size: 3.0vw;
}

.selected{
    border: 5px solid #9f00ff;
}

.modal-header{
    border: none;
}

.playerNumShow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.win_h1{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'MedievalSharp', cursive;
    stroke: 2px black;
    color: white;
    text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    font-size: 9vmin;
}

.imgDiv{
    position: relative;
    text-align: center;
}
.imgDiv img{
    width: 100%;
    /*height: 100%;*/

}

.currentPlayerShow_stark, .currentPlayerShow_lannister, .currentPlayerShow_targaryen, .currentPlayerShow_greyjoy{
    border: 5px solid;
    animation: borderBlink_stark .5s step-end infinite alternate;
}


.win-dialog{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.win-content{
    height: auto;
    min-height: 100%;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.winImg{
    width: 90%;
    height: 90%;
}
.modal-body{
    position: relative;
}

@keyframes borderBlink_stark{
    50%{border-color: #dad4ca}
}
@keyframes borderBlink_lannister{
    50%{border-color: #88723a}
}
@keyframes borderBlink_targaryen{
    50%{border-color: #810002}
}
@keyframes borderBlink_greyjoy{
     50%{border-color: #8f4a00}
}


.available_stark{
    border: 2px solid #dad4ca
}
.available_lannister{
    border: 2px solid #88723a
}
.available_targaryen{
    border: 2px solid #810002
}
.available_greyjoy{
    border: 2px solid #8f4a00
}

.modal-header h1{
    font-size: 7vmin;
}

.imgDiv h2{
    font-size: 5vmin;
}

